### Assignment 1

1. Assign the value of 384 divided by 16.43 to a variable called “result”. Then add 17.67 to it.
Make sure that the returned value is a float.

In [1]:
result = 384/16.43 + 17.67
result

41.041880706025566

2. Create a list with elements 2, Python, 23.54, 34, and list, and assign it to a variable called
“my list”. Next, delete the second last item of my list.

In [10]:
my_list = [2, 'Python', 23.54, 34, 'list']

In [4]:
my_list.remove(34)

In [5]:
my_list

[2, 'Python', 23.54, 'list']

In [7]:
my_list

[2, 'Python', 23.54, 34, 'list']

In [8]:
removed_item = my_list.pop(-2)

34

In [9]:
my_list

[2, 'Python', 23.54, 'list']

In [13]:
my_list = my_list[:-2] + my_list[-1:]

In [14]:
my_list

[2, 'Python', 23.54, 'list']

3. 
- Create a tuple with the values from 2 to 15, and assign it to a variable called “my tuple”.
- Then, get the first 5 values and assign it to a variable called “my sliced tuple”. 
- Finally,
change the value of the second last element of “my sliced tuple” to 20.

In [15]:
my_tuple = tuple(range(2, 16))

In [16]:
my_tuple

(2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)

In [18]:
tuple([i for i in range(2, 16)])

(2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)

In [21]:
my_sliced_tuple = my_tuple[:5]

In [22]:
my_sliced_tuple

(2, 3, 4, 5, 6)

In [23]:
my_sliced_tuple[-2] = 20

TypeError: 'tuple' object does not support item assignment

In [25]:
list(my_sliced_tuple)[-2] = 20

In [27]:
my_sliced_tuple_after_change = list(my_sliced_tuple)

In [28]:
type(my_sliced_tuple_after_change)

list

In [29]:
my_sliced_tuple_after_change[-2] = 20

In [30]:
my_sliced_tuple_after_change

[2, 3, 4, 20, 6]

In [31]:
my_sliced_tuple = tuple(my_sliced_tuple_after_change)

In [32]:
my_sliced_tuple

(2, 3, 4, 20, 6)

4. Define a list called “fruits” with the following elements: apple, peach, cherry, banana, pear,
orange, lemon. Print the elements to screen in your list using a for loop, but exit the loop
before printing the word “pear”.

In [38]:
fruits = ['apple', 'peach', 'cherry', 'banana', 'pear', 'orange', 'lemon']

In [41]:
for fruit in fruits:
    if fruit == 'pear':
        break
    print(fruit)

apple
peach
cherry
banana

5. Create a dictionary where the keys are the words Colorado, Boston, Edmonton and Minnesota and the values are Avalanche, Bruins, Oilers, Twins and assign it to a variable called
“my dict”. Print the type of my dict and the dictionary itself to to screen. Next, change
the value of the word Minnesota to Wild

In [42]:
my_dict = {'Colorado': 'Avalanche',
          'Boston': 'Bruins',
          'Edmonton': 'Oilers',
          'Minnesota': 'Twins'}

In [43]:
print(type(my_dict), my_dict)

<class 'dict'> {'Colorado': 'Avalanche', 'Boston': 'Bruins', 'Edmonton': 'Oilers', 'Minnesota': 'Twins'}

In [44]:
my_dict['Minnesota'] = 'Wild'

In [45]:
my_dict

{'Colorado': 'Avalanche',
 'Boston': 'Bruins',
 'Edmonton': 'Oilers',
 'Minnesota': 'Wild'}

6. Use a while loop to calculate the sum of the integers from 0 to 12 and after completing the
loop, else statement executes.

In [46]:
counter = 0
total = 0
while counter < 13:
    total += counter
    counter += 1

In [47]:
total

78

In [48]:
counter

13

In [49]:
sum(list(range(13)))

78

7. Create a list called “num1” with elements 1,4,6,7 and a second list called “num2” with
elements 1,2,5,6. Create a program that prints to screen the sum of two elements of the
lists if they equal or their product if they are not the same. Hint: Use nested for loops.

In [50]:
num1 = [1, 4, 6, 7]
num2 = [1, 2, 5, 6]

In [53]:
for a, b in zip(num1, num2):
    print(a,b)

1 1
4 2
6 5
7 6

In [55]:
#our program
for a in num1:
    for b in num2:
        if a == b:
            print(a + b)
        else:
            print(a * b)

2
2
5
6
4
8
20
24
6
12
30
12
7
14
35
42

8. Create a function called “square odd number” that takes a number and squares it if the
number is odd and prints the message “Error, the passed value is not odd”. Test your
function with the values 11 and 14 by printing the results to screen.

In [56]:
def square_odd_number(num_in):
    if num_in % 2 == 1:
        return num_in ** 2
    else:
        print("Error, the passed value is not odd.")

In [57]:
[square_odd_number(i) for i in range(11, 15)]

Error, the passed value is not odd.
Error, the passed value is not odd.

[121, None, 169, None]

In [58]:
[i for i in range(11, 15)]

[11, 12, 13, 14]

In [59]:
for num in [11, 12, 13, 14]:
    print(square_odd_number(num))

121
Error, the passed value is not odd.
None
169
Error, the passed value is not odd.
None

In [60]:
[square_odd_number(num) for num in range(11, 15)]

Error, the passed value is not odd.
Error, the passed value is not odd.

[121, None, 169, None]