In [1]:
import numpy as np

In [2]:
import pandas as pd

### Problem 1

In [25]:
def calc_si_amount(p, r, t):
    return (p*r*t)/100

In [26]:
calc_si_amount(1859, 1.67, 5)

155.2265

In [27]:
1859 + 155.2265

2014.2265

In [28]:
4*3

12

### Problem 2

In [29]:
def calc_sum(*anything, **kwargs):
    return sum(anything)

In [30]:
calc_sum(34, 73.8, 28, 78)

213.8

### Problem 3

In [31]:
from sklearn.datasets import load_diabetes

In [33]:
diabetes = load_diabetes(as_frame = True)

In [36]:
diabetes = diabetes['frame']

In [39]:
diabetes.shape

(442, 11)

In [38]:
diabetes.head(10)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0
5,-0.092695,-0.044642,-0.040696,-0.019442,-0.068991,-0.079288,0.041277,-0.076395,-0.041180,-0.096346,97.0
6,-0.045472,0.050680,-0.047163,-0.015999,-0.040096,-0.024800,0.000779,-0.039493,-0.062913,-0.038357,138.0
7,0.063504,0.050680,-0.001895,0.066630,0.090620,0.108914,0.022869,0.017703,-0.035817,0.003064,63.0
8,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014956,0.011349,110.0
9,-0.070900,-0.044642,0.039062,-0.033214,-0.012577,-0.034508,-0.024993,-0.002592,0.067736,-0.013504,310.0

In [40]:
from sklearn.linear_model import LinearRegression

In [44]:
X = diabetes[['age']]
y = diabetes['bmi']

In [57]:
simple_prediction = LinearRegression().fit(X, y)

In [58]:
simple_prediction.coef_

array([0.18508467])

In [56]:
LinearRegression().fit(X, y)

LinearRegression()

In [52]:
from sklearn import linear_model

In [ ]:
linear_model.LinearRegression()

In [54]:
simple_prediction.fit(X, y)

LinearRegression()

In [48]:
simple_prediction.coef_

array([0.18508467])

In [49]:
simple_prediction.intercept_

-7.34031317064707e-16

In [50]:
simple_prediction.score(X, y)

0.03425633364258207

We have a 0.03 $r^2$ --> This means our model explains 3% of the variation around the mean of BMI.

### Problem 4

In [59]:
diabetes

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0

In [67]:
from sklearn.linear_model import LinearRegression

In [60]:
X = diabetes[['age', 'bmi']]
y = diabetes['bp']

In [61]:
multiple_prediction = LinearRegression().fit(X, y)

In [62]:
multiple_prediction.intercept_

5.044203447478036e-16

In [63]:
multiple_prediction.coef_

array([0.27154348, 0.34515679])

In [64]:
multiple_prediction.score(X, y)

0.22756321849118322

In [65]:
year = [2017]*4 + [2018]*3 + [2019]*2
year

[2017, 2017, 2017, 2017, 2018, 2018, 2018, 2019, 2019]

In [66]:
income = [67, 78, 69, 130, 95, 113, 99, 178, 156]
bedrooms = [2, 1, 1, 2, 2, 2, 3, 4, 3]
bathrooms = [1, 1, 2, 2, 1, 2, 1, 3, 2]

In [71]:
housing = pd.DataFrame({'Year': year, 
                        'Income': income, 
                        'Bedrooms': bedrooms, 
                        'Bathrooms': bathrooms})

In [72]:
housing.head()

   Year  Income  Bedrooms  Bathrooms
0  2017      67         2          1
1  2017      78         1          1
2  2017      69         1          2
3  2017     130         2          2
4  2018      95         2          1

In [73]:
import statsmodels.api as sm

In [76]:
X = housing[['Year']]
y = housing['Bedrooms']

In [77]:
X = sm.add_constant(X)

In [79]:
model = sm.OLS(y, X).fit()

In [80]:
model.summary()

/Users/jacobkoehler/opt/anaconda3/envs/for_ds/lib/python3.8/site-packages/scipy/stats/stats.py:1603: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Bedrooms   R-squared:                       0.706
Model:                            OLS   Adj. R-squared:                  0.664
Method:                 Least Squares   F-statistic:                     16.82
Date:                Mon, 26 Apr 2021   Prob (F-statistic):            0.00456
Time:                        18:38:43   Log-Likelihood:                -6.4717
No. Observations:                   9   AIC:                             16.94
Df Residuals:                       7   BIC:                             17.34
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1975.2000    482.100     -4.097      0.005   -3115.185    -835.215
Year           0.9800      0.239      4.102      0.005       0.415       1.545
==============================================================================
Omnibus:                        9.079   Durbin-Watson:                   2.235
Prob(Omnibus):                  0.011   Jarque-Bera (JB):                1.495
Skew:                           0.224   Prob(JB):                        0.474
Kurtosis:                       1.054   Cond. No.                     5.18e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.18e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [81]:
model.rsquared

0.7061764705882353

### Problem 6

In [82]:
X = housing[['Year', 'Income']]
y = housing['Bedrooms']

In [83]:
multiple_model = sm.OLS(y, X).fit()

In [84]:
multiple_model.summary()

/Users/jacobkoehler/opt/anaconda3/envs/for_ds/lib/python3.8/site-packages/scipy/stats/stats.py:1603: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:               Bedrooms   R-squared (uncentered):                   0.951
Model:                            OLS   Adj. R-squared (uncentered):              0.937
Method:                 Least Squares   F-statistic:                              67.37
Date:                Mon, 26 Apr 2021   Prob (F-statistic):                    2.68e-05
Time:                        18:41:32   Log-Likelihood:                         -7.1273
No. Observations:                   9   AIC:                                      18.25
Df Residuals:                       7   BIC:                                      18.65
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Year       -2.009e-06      0.000     -0.006      0.995      -0.001       0.001
Income         0.0203      0.006      3.683      0.008       0.007       0.033
==============================================================================
Omnibus:                        1.058   Durbin-Watson:                   1.773
Prob(Omnibus):                  0.589   Jarque-Bera (JB):                0.804
Skew:                           0.537   Prob(JB):                        0.669
Kurtosis:                       2.005   Cond. No.                         55.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [85]:
import sympy as sy

In [86]:
σ, x = sy.symbols('σ x')

In [87]:
ls = -1/(2*σ**2) * sy.exp(-x/σ) + x/(2*σ**3)

In [88]:
eq = sy.Eq(ls, 0)

In [89]:
sy.solve(eq, σ)

NotImplementedError: multiple generators [exp(x/σ), σ]
No algorithms are implemented to solve equation x/(2*σ**3) + 0 - exp(-x/σ)/(2*σ**2)

In [90]:
X = np.array([[1, 2], [2, 4], [4, 4]])

In [92]:
X.T

array([[1, 2, 4],
       [2, 4, 4]])

In [93]:
X@X.T

array([[ 5, 10, 12],
       [10, 20, 24],
       [12, 24, 32]])